<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action='/userdetails' method="get">
        <input type="text" id="search" name=id  required />
        <button type="submit">search</button>
      </form>
      
    <form action="/register" method="post">
        

      Name  :  <input type="text" placeholder="Enter the Name" name="name"><br/>
       Email: <input type="email" placeholder="Enter the Email" name="Email"><br/>
       Phone Number <input type="number" placeholder="Enter the Phone number" name="Number"><br/>
      Age:  <input type="age"    placeholder="Enter the age"  name="Age"  ><br/>
         <button type="submit"> Submit </button>

    </form>
</body>
</html>